.dashboard{
  width: 61%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr)); 
   gap: 1rem; 
 
}

@media (max-width: 768px) {
  .dashboard {
    width: 90%;
    grid-template-columns: 1fr; 
    align-items: center;
    justify-items: center;
  }
}